{% extends 'recipes/base.html' %} {% block content %}


<h1>{{ recipe }}</h1>
<p>{{recipe.description}}</p>

<a href="{% url 'recipes:update' recipe.id%}">
    <button type="button" class="btn btn-primary">
        Edit
    </button>
</a>

<a href="{% url 'recipes:delete' recipe.id%}">
    <button type="button" class="btn btn-danger">
        Delete
    </button>
</a>


<h2>Steps</h2>
<ol>
    {% for step in recipe.stepsAsList %}
    <li>{{ step | title }}</li>
    {% endfor %}
</ol>

<h2>Ingredients</h2>
<ul>
    {% for i in recipe.recipeingredient_set.all %}
    <li>{{i}}</li>
    {% endfor %}
</ul>

{% endblock %}